/build
/context_lab_env
__pycache__
/opencontext.egg-info
/screenshots
/logs
/persist
/debug
/dist/*
/venv/*
/test_storage
/config/runtime
/test_script
/config/user*
.DS_Store

.venv/
uv.lock
uv.toml
.idea

# ide config file
.trae
# claude code
.claude/
# gemini cli
GEMINI.md
.gemini/
.vscode/